$color-brand: #499A18;
$color-background: #EDF2EC;
$color-input: #D6E7D2;
$color-light: #ffffff;
$color-border: #E06733;
$color-text: #636060;
$color-dark: #000000;
$color-heading: #717171;

$font-inika: 'Inika', serif;
$font-inter: 'Inter', sans-serif;

$content-width: 1222px;
$tablet-width: 668px;
$mobile-width: 330px;